<div class="transactions-container">
    <div class="title">
        <h2>Transactions</h2>
    </div>

    <div class="filter">
        <input type="text" placeholder="Filter by Name or Status" [(ngModel)]="filteredText">
    </div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Name</th>
                <th>City</th>
                <th>Bic</th>
                <th>Bank Card</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Status</th>
                <th>Show more</th>
            </tr>
        </thead>
        <tbody>
            @for (t of filteredTransactions; track t.id) {
                <tr>
                    <td>{{ t.id }}</td>
                    <td>{{ t.date | dateTransform }}</td>
                    <td>{{ t.name }}</td>
                    <td>{{ t.city }}</td>
                    <td>{{ t.bic }}</td>
                    <td>{{ t.bankCard }}</td>
                    <td>{{ t.amount | amount }}</td>
                    <td>{{ t.type }}</td>
                    <td [style.color]="getStatusColor(t.status)">{{ t.status }}</td>
                    <td><button class="btn-dtl" (click)="onDetailsToggle(t)">Details</button></td>
                </tr>
            }
        </tbody>
    </table>

    @if (showDetailsModal) {
        <app-details-modal [transactionInfo]="openTransactionDetails" (closeModal)="closed()"/>
    }
</div>