<div class="client-content">
@if (!isReady) {
    <div class="loading-container">
        <app-loader />
    </div>
} @else if (errorMessage) {
    <div class="err-container">
        <p>{{ errorMessage }}</p>
        <p>Please try again later!</p>
    </div>
} @else {

<div class="container">
    <div class="title">
        <h2>Client</h2>
    </div>
<div class="form-container">
    <form #clientForm="ngForm" (ngSubmit)="onSaveDate(clientForm)">
        @for (section of sections; track $index) {
            <h3>{{ section }}</h3>

            @for (field of fields; track $index) {
                @if(section === field.section) {
                    <div class="form-group">
                        <div class="label-content">
                            @if (field.required) {
                                <span>*</span>
                            }
                            <label>{{ field.label }}</label>
                        </div>

                        <input  
                            [name]="field.name" 
                            [(ngModel)]="clientData[field.name]" 
                            [type]="field.type" 
                            [readonly]="field.readonly" 
                            required="{{ field.required ? true : null }}"
                            ngModel
                            #ctrl="ngModel"
                        />

                        @if (ctrl.touched) {
                            <div class="err">
                                @if (ctrl.errors?.['required']) {
                                    <span>{{ field.label }} is required</span>
                                }   
                            </div>
                        }
                    </div>
                }
            }
        }   

        <div class="btn-save">
            <button [disabled]="clientForm.invalid">Save</button>
        </div>
    </form>
</div>
</div>
}
</div>