<div class="form-container">
    <form #clientForm="ngForm" (ngSubmit)="onSaveDate()">
        <div class="section-container">
            <!-- @for (section of sections; track $index) {
                <h3>{{ section }}</h3>
            } -->
        </div>

        <div class="input-container">
            @for (field of formConfig; track $index) {
                
                <div class="label-content">
                    @if (field.required) {
                        <span>*</span>
                    }
                    <label>{{ field.label }}</label>
                </div>

                <!-- <input  
                        [name]="field.name" 
                        [(ngModel)]="client[field.name]" 
                        [type]="field.type" 
                        [readonly]="field.readonly" 
                        [required]="field.required" 
                        [minLength]="field.minLength" 
                        [pattern]="field.pattern"
                         /> -->
            }
        </div>

        <button>Save</button>

    </form>
</div>